<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.jandavid.alfred.gitignore</string>
	<key>connections</key>
	<dict>
		<key>1E9CFBDB-EF9A-4962-84EE-30E64D3DC19C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>956B0785-0E0D-4251-8821-5E3137D71B6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>487A8098-1037-4523-BCA6-B04539B70A80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E9CFBDB-EF9A-4962-84EE-30E64D3DC19C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>767B4355-2520-4300-BD21-C7332DB7206D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1CE1DB1-D0C1-4785-BED1-4DDB5CF06EBF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1CE1DB1-D0C1-4785-BED1-4DDB5CF06EBF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0BD3526-73B6-4325-A7CC-FF4CDFCCD5A0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jan David Nose</string>
	<key>description</key>
	<string>Build a .gitignore file with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>gitignore</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>116</integer>
				<key>keyword</key>
				<string>gitignore</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching templates from gitignore.io...</string>
				<key>script</key>
				<string>python gitignore-input.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Combine multiple templates to a single .gitignore file</string>
				<key>title</key>
				<string>Build a .gitignore file from templates</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>487A8098-1037-4523-BCA6-B04539B70A80</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Builds the .gitignore file and opens it with the default text editor
python gitignore-build.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E9CFBDB-EF9A-4962-84EE-30E64D3DC19C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Build complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>956B0785-0E0D-4251-8821-5E3137D71B6E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string># Downloads the templates from GitHub
python gitignore-update.py</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F1CE1DB1-D0C1-4785-BED1-4DDB5CF06EBF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Update complete</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A0BD3526-73B6-4325-A7CC-FF4CDFCCD5A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gitignore-update</string>
				<key>subtext</key>
				<string>Download the latest templates from GitHub...</string>
				<key>text</key>
				<string>Update templates</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>767B4355-2520-4300-BD21-C7332DB7206D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Please check the workflow’s documentation on GitHub:

https://github.com/jdno/alfred2-gitignore

You can find information on how to install and use the workflow there. Also, this is the place to report bugs or problems.

Thanks for using my workflow!

Have a great day. :)</string>
	<key>uidata</key>
	<dict>
		<key>1E9CFBDB-EF9A-4962-84EE-30E64D3DC19C</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>487A8098-1037-4523-BCA6-B04539B70A80</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>767B4355-2520-4300-BD21-C7332DB7206D</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>956B0785-0E0D-4251-8821-5E3137D71B6E</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>A0BD3526-73B6-4325-A7CC-FF4CDFCCD5A0</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>F1CE1DB1-D0C1-4785-BED1-4DDB5CF06EBF</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://jandavid.de</string>
</dict>
</plist>
