<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>d91ea979-dd31-413d-9a68-ea53f98ffaee</string>
	<key>connections</key>
	<dict>
		<key>05FD21C2-E7C7-4220-B46C-FE7B24E4CD4C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7FA788ED-125C-44B0-8F49-BAD0DFC85216</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A21B33B-2DD8-4512-A4B5-A78ECCB09CE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05FD21C2-E7C7-4220-B46C-FE7B24E4CD4C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3B24258E-5B3F-44BE-A43C-33B95C5C0B18</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6799F1B8-73DB-43D8-A0AF-EC59D09A09E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4E11E3A3-FAFA-4837-A532-00160B1438A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7FF24F1-4E34-477A-B98E-06DFD0833CFF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7A090FE5-823B-44FF-87B3-9FD785F0FE13</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5039C696-E683-4FA3-9B0F-6BD9F107FDA1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E353771-1C7A-465E-825A-2E6B3CA8C6E9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8C248CFC-C598-4CBE-8737-5C8AB3D0D8EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5EC91C2C-77F2-4ECD-A91B-342029E0CCBB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDB8C97D-979B-4133-B332-C06761B9008F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6799F1B8-73DB-43D8-A0AF-EC59D09A09E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4E11E3A3-FAFA-4837-A532-00160B1438A6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7FA788ED-125C-44B0-8F49-BAD0DFC85216</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3B24258E-5B3F-44BE-A43C-33B95C5C0B18</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A7A78FD8-787C-4C38-B9DF-6C51ED315DEC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5EC91C2C-77F2-4ECD-A91B-342029E0CCBB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A09F9DE1-C59A-48E9-966C-310A15B0F010</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2EB6F899-B0D9-4B61-A4A6-2F8075E6F503</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7A090FE5-823B-44FF-87B3-9FD785F0FE13</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>31960295-9B43-4CE8-ABEB-5AFC0F5D21E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>8E353771-1C7A-465E-825A-2E6B3CA8C6E9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EF102DCB-998C-4E06-A9BF-4AF15524BCBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDB8C97D-979B-4133-B332-C06761B9008F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A09F9DE1-C59A-48E9-966C-310A15B0F010</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C8A3BD2C-CBC9-43D8-B210-5296ABA1936C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3D12BDB-5EED-4BD0-B707-572D24F92D31</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D52D1E78-6BF6-496E-A604-27EDCFB1AC74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A21B33B-2DD8-4512-A4B5-A78ECCB09CE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3D12BDB-5EED-4BD0-B707-572D24F92D31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D52D1E78-6BF6-496E-A604-27EDCFB1AC74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CE4EC21E-F119-45E8-A704-7045B1984223</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>20FF3B89-6056-416A-9AD9-259102B9C15E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B6960760-3F89-498C-AE1E-F6712A641727</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F77F1F62-C16A-4B81-B275-AF1F161CE8FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>Removes the paywall that blocks content from internet with some external services</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Remove Paywall</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://12ft.io/{var:inputUrl}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>C7FF24F1-4E34-477A-B98E-06DFD0833CFF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>87254AAD-7037-40A5-886D-4F35C645F4BC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>71109F5A-9D86-4AF0-A97B-0D5943FE6930</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://freedium.cfd/{var:inputUrl}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5039C696-E683-4FA3-9B0F-6BD9F107FDA1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"12ft","arg":"https:\/\/12ft.io\/","subtitle":"https:\/\/12ft.io\/"},{"title":"Remove Paywall","arg":"https:\/\/www.removepaywall.com\/","subtitle":"https:\/\/www.removepaywall.com\/"},{"title":"Freedium","arg":"https:\/\/freedium.cfd\/","subtitle":"Only works with Medium"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Provider to use to replace the paywall</string>
				<key>title</key>
				<string>Select the Provider</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6799F1B8-73DB-43D8-A0AF-EC59D09A09E3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://www.removepaywall.com/{var:inputUrl}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8C248CFC-C598-4CBE-8737-5C8AB3D0D8EF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>https://12ft.io/</string>
						<key>outputlabel</key>
						<string>12ft</string>
						<key>uid</key>
						<string>7A090FE5-823B-44FF-87B3-9FD785F0FE13</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>https://freedium.cfd/</string>
						<key>outputlabel</key>
						<string>freedium</string>
						<key>uid</key>
						<string>8E353771-1C7A-465E-825A-2E6B3CA8C6E9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>removepaywall</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>4E11E3A3-FAFA-4837-A532-00160B1438A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3B24258E-5B3F-44BE-A43C-33B95C5C0B18</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://12ft.io/{var:inputUrl}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>2EB6F899-B0D9-4B61-A4A6-2F8075E6F503</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Clipboard","arg":"clipboard","subtitle":"Copies to clipboard"},{"title":"Browser","arg":"browser","subtitle":"Opens in browser"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select between copy to clipboard or opening in browser</string>
				<key>title</key>
				<string>Select method</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>05FD21C2-E7C7-4220-B46C-FE7B24E4CD4C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"12ft","arg":"https:\/\/12ft.io\/","subtitle":"https:\/\/12ft.io\/"},{"title":"Remove Paywall","arg":"https:\/\/www.removepaywall.com\/","subtitle":"https:\/\/www.removepaywall.com\/"},{"title":"Freedium","arg":"https:\/\/freedium.cfd\/","subtitle":"Only works with Medium"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Provider to use to replace the paywall</string>
				<key>title</key>
				<string>Select the Provider</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>BDB8C97D-979B-4133-B332-C06761B9008F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browser</string>
						<key>outputlabel</key>
						<string>browser</string>
						<key>uid</key>
						<string>A7A78FD8-787C-4C38-B9DF-6C51ED315DEC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>clipboard</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7FA788ED-125C-44B0-8F49-BAD0DFC85216</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>https://12ft.io/</string>
						<key>outputlabel</key>
						<string>12ft</string>
						<key>uid</key>
						<string>7A090FE5-823B-44FF-87B3-9FD785F0FE13</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>https://freedium.cfd/</string>
						<key>outputlabel</key>
						<string>freedium</string>
						<key>uid</key>
						<string>8E353771-1C7A-465E-825A-2E6B3CA8C6E9</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>removepaywall</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A09F9DE1-C59A-48E9-966C-310A15B0F010</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pwr</string>
				<key>subtext</key>
				<string>To remove the paywall</string>
				<key>text</key>
				<string>Paste url</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C8A3BD2C-CBC9-43D8-B210-5296ABA1936C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5EC91C2C-77F2-4ECD-A91B-342029E0CCBB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://freedium.cfd/{var:inputUrl}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>31960295-9B43-4CE8-ABEB-5AFC0F5D21E6</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>inputUrl</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>D52D1E78-6BF6-496E-A604-27EDCFB1AC74</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3A21B33B-2DD8-4512-A4B5-A78ECCB09CE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>[(http(s)?):\/\/(www\.)?a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&amp;//=]*)</string>
						<key>outputlabel</key>
						<string>valid</string>
						<key>uid</key>
						<string>CE4EC21E-F119-45E8-A704-7045B1984223</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>error</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F3D12BDB-5EED-4BD0-B707-572D24F92D31</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Basso</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>20FF3B89-6056-416A-9AD9-259102B9C15E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>pwr </string>
				<key>leftcursor</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.showalfred</string>
			<key>uid</key>
			<string>B6960760-3F89-498C-AE1E-F6712A641727</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Please run again the workflow with a valid URL</string>
				<key>title</key>
				<string>Not a valid URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F77F1F62-C16A-4B81-B275-AF1F161CE8FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>https://www.removepaywall.com/{var:inputUrl}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EF102DCB-998C-4E06-A9BF-4AF15524BCBC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Remove Paywall
This workflow helps you to remove a paywall from different resources that ask you to suscribe and pay to continue reading articles, news, etc that already have a fremium version full with ads. 

### Configuration
You'll need to select the provider in order to use it.

#### Usage
After opening `Alfred` you'll need to type `pw` in order to run the workflow and then paste an url. After pasting you'll need to press enter and then, if you provided a valid URL, you'll only need to paste the result inside your browser.</string>
	<key>uidata</key>
	<dict>
		<key>05FD21C2-E7C7-4220-B46C-FE7B24E4CD4C</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>20FF3B89-6056-416A-9AD9-259102B9C15E</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>2EB6F899-B0D9-4B61-A4A6-2F8075E6F503</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>31960295-9B43-4CE8-ABEB-5AFC0F5D21E6</key>
		<dict>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>3A21B33B-2DD8-4512-A4B5-A78ECCB09CE0</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>3B24258E-5B3F-44BE-A43C-33B95C5C0B18</key>
		<dict>
			<key>xpos</key>
			<real>565</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>4E11E3A3-FAFA-4837-A532-00160B1438A6</key>
		<dict>
			<key>xpos</key>
			<real>790</real>
			<key>ypos</key>
			<real>250</real>
		</dict>
		<key>5039C696-E683-4FA3-9B0F-6BD9F107FDA1</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>5EC91C2C-77F2-4ECD-A91B-342029E0CCBB</key>
		<dict>
			<key>xpos</key>
			<real>595</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>6799F1B8-73DB-43D8-A0AF-EC59D09A09E3</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>160</real>
		</dict>
		<key>71109F5A-9D86-4AF0-A97B-0D5943FE6930</key>
		<dict>
			<key>xpos</key>
			<real>610</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>7FA788ED-125C-44B0-8F49-BAD0DFC85216</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>8C248CFC-C598-4CBE-8737-5C8AB3D0D8EF</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>A09F9DE1-C59A-48E9-966C-310A15B0F010</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>B6960760-3F89-498C-AE1E-F6712A641727</key>
		<dict>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>BDB8C97D-979B-4133-B332-C06761B9008F</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>360</real>
		</dict>
		<key>C7FF24F1-4E34-477A-B98E-06DFD0833CFF</key>
		<dict>
			<key>xpos</key>
			<real>880</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>C8A3BD2C-CBC9-43D8-B210-5296ABA1936C</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>455</real>
		</dict>
		<key>D52D1E78-6BF6-496E-A604-27EDCFB1AC74</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>EF102DCB-998C-4E06-A9BF-4AF15524BCBC</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>F3D12BDB-5EED-4BD0-B707-572D24F92D31</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>F77F1F62-C16A-4B81-B275-AF1F161CE8FE</key>
		<dict>
			<key>xpos</key>
			<real>130</real>
			<key>ypos</key>
			<real>560</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string>https://rodrigogarcia.com.mx</string>
</dict>
</plist>
