<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.may-june-july.OpenInVSCode</string>
	<key>connections</key>
	<dict>
		<key>047B334E-3DFD-4FF0-8E95-19C5800919CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E6B3E064-923E-4F44-9938-A2673E1FA0F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CCC7481D-F60E-4654-A1E6-0CA95A468607</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1645D8ED-90E4-4DB8-8620-3367149137EC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92F400EA-863E-4EAE-8CD0-E1C8385748BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>1CD12FA0-053C-4701-8A17-59817312945F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>90BECD2C-A4E1-49A4-B789-36C79A8345B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>21750E1C-77A3-4F52-81DD-1052976D1742</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>723AA5F4-8AE3-47E1-B80A-162F4133A1E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BB36521F-27E9-4608-8FB9-DF063652E6EE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23968A32-1A35-48E3-9CBF-51D4504B904B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43C6D947-9117-487D-B1E9-3C1925C9D244</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>23DEA358-A623-4725-95B2-79C207AF4556</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AB45CFD-8642-4677-9135-596BF3D81054</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>927FD7BD-723F-45EB-9D99-05B0DF4D7A1B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F6996F7-9C98-476F-A155-36BA22CE7970</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F4221968-EBF7-4E59-B1F2-422923AEB602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43C6D947-9117-487D-B1E9-3C1925C9D244</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1645D8ED-90E4-4DB8-8620-3367149137EC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>45B49F26-FB87-4621-9086-09853148183C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC206210-07AC-4A07-9613-7DDAF70BDC6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>50774B7A-9E19-48CB-8671-08EF9796A602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CD12FA0-053C-4701-8A17-59817312945F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>811C272A-CEA9-4EEE-BC20-090EC905E62C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CB080C5E-956D-46AE-B833-3660D68FA9AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AACE501C-7C74-40C7-AC4D-F65409B28077</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>A715DB3D-EAD1-4231-AD8D-D0669E91AFE2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5E8AAEE9-BF3E-462D-9DAA-4955A0A22FB4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DF322CB6-7BDB-4537-B42F-7619E25BD1BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>606377E1-11F3-4C10-997E-8493141C5A92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>704BC273-F0C1-414E-A329-62BF43D53557</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9CD92BBE-4451-4384-B444-F066BE09D79F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>723AA5F4-8AE3-47E1-B80A-162F4133A1E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>92F400EA-863E-4EAE-8CD0-E1C8385748BC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>811C272A-CEA9-4EEE-BC20-090EC905E62C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>90BECD2C-A4E1-49A4-B789-36C79A8345B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EA493A9B-26B1-48B7-A73E-A4035A2E5ECE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>92F400EA-863E-4EAE-8CD0-E1C8385748BC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BAA6AA73-8660-46A3-820C-18D0098577C5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A65E57BD-B0FC-437F-BC5C-E6E3AA7D80F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45B49F26-FB87-4621-9086-09853148183C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1200DF0C-2133-4AE7-8A6D-F14B70B10CEE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2AB45CFD-8642-4677-9135-596BF3D81054</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CD2DC0DD-F4A5-4B44-8972-B5680AC99095</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>047B334E-3DFD-4FF0-8E95-19C5800919CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B06428E0-C385-4284-8BF1-C0EB6C18FBBE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3F6996F7-9C98-476F-A155-36BA22CE7970</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>CD6E982F-AD7B-4878-9C69-062AE2D4D636</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AACE501C-7C74-40C7-AC4D-F65409B28077</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5E8AAEE9-BF3E-462D-9DAA-4955A0A22FB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AADFFD01-9787-4D84-B1BD-30BB7627BE92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BAA6AA73-8660-46A3-820C-18D0098577C5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>606377E1-11F3-4C10-997E-8493141C5A92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>0D9D07B9-290B-4F4C-B8C2-A3C841706F11</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E8C40FE2-37EB-48B0-93AD-64A2330F8D7B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CB080C5E-956D-46AE-B833-3660D68FA9AD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21750E1C-77A3-4F52-81DD-1052976D1742</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CBFA16C0-110D-4B50-9DB9-206C9F671B81</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CCC7481D-F60E-4654-A1E6-0CA95A468607</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A65E57BD-B0FC-437F-BC5C-E6E3AA7D80F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D9676183-2E78-4BBE-A766-3D529E083A60</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AADFFD01-9787-4D84-B1BD-30BB7627BE92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>723AA5F4-8AE3-47E1-B80A-162F4133A1E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DF322CB6-7BDB-4537-B42F-7619E25BD1BD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CBFA16C0-110D-4B50-9DB9-206C9F671B81</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>4A1EBF66-EE75-4E0A-98C6-6C3E1BA15D7D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AAC4B16D-4672-4472-8542-2EDB040E6D23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E8C40FE2-37EB-48B0-93AD-64A2330F8D7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50774B7A-9E19-48CB-8671-08EF9796A602</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4221968-EBF7-4E59-B1F2-422923AEB602</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC206210-07AC-4A07-9613-7DDAF70BDC6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>704BC273-F0C1-414E-A329-62BF43D53557</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Alex Chan, May June July</string>
	<key>description</key>
	<string>Open paths in VS Code, VSCodium, or Cursor.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in VS Code</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Open in {var:open_in}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.count</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>92F400EA-863E-4EAE-8CD0-E1C8385748BC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.strip.trailing.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>1CD12FA0-053C-4701-8A17-59817312945F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:all_paths}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>606377E1-11F3-4C10-997E-8493141C5A92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>multiple_file_arguments</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EA493A9B-26B1-48B7-A73E-A4035A2E5ECE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>is 1</string>
						<key>uid</key>
						<string>0D9D07B9-290B-4F4C-B8C2-A3C841706F11</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>BAA6AA73-8660-46A3-820C-18D0098577C5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>all_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>723AA5F4-8AE3-47E1-B80A-162F4133A1E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>50774B7A-9E19-48CB-8671-08EF9796A602</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:all_paths}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>E8C40FE2-37EB-48B0-93AD-64A2330F8D7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>all_paths</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>90BECD2C-A4E1-49A4-B789-36C79A8345B6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>multiple_file_arguments</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>23968A32-1A35-48E3-9CBF-51D4504B904B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/argument-processing/argument.trailing.1</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>811C272A-CEA9-4EEE-BC20-090EC905E62C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>delimiter</key>
				<string>	</string>
				<key>discardemptyarguments</key>
				<true/>
				<key>outputas</key>
				<integer>1</integer>
				<key>trimarguments</key>
				<true/>
				<key>variableprefix</key>
				<string>split</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.split</string>
			<key>uid</key>
			<string>1645D8ED-90E4-4DB8-8620-3367149137EC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:all_paths}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>43C6D947-9117-487D-B1E9-3C1925C9D244</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Zed.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>CC206210-07AC-4A07-9613-7DDAF70BDC6B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:path_to_file_or_folder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>45B49F26-FB87-4621-9086-09853148183C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemAlternateNames</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>{var:keyword_for_finding_path_to_open}</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Find files and folders and open in {var:open_in}</string>
				<key>title</key>
				<string>Find and open in {var:open_in}</string>
				<key>types</key>
				<array>
					<string>+public.text</string>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>23DEA358-A623-4725-95B2-79C207AF4556</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Zed.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>927FD7BD-723F-45EB-9D99-05B0DF4D7A1B</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>VS Code</string>
						<key>outputlabel</key>
						<string>VS Code</string>
						<key>uid</key>
						<string>1200DF0C-2133-4AE7-8A6D-F14B70B10CEE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>VSCodium</string>
						<key>outputlabel</key>
						<string>VSCodium</string>
						<key>uid</key>
						<string>CD2DC0DD-F4A5-4B44-8972-B5680AC99095</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Cursor</string>
						<key>outputlabel</key>
						<string>Cursor</string>
						<key>uid</key>
						<string>B06428E0-C385-4284-8BF1-C0EB6C18FBBE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:open_in}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>Both</string>
						<key>outputlabel</key>
						<string>Both</string>
						<key>uid</key>
						<string>CD6E982F-AD7B-4878-9C69-062AE2D4D636</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string></string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A65E57BD-B0FC-437F-BC5C-E6E3AA7D80F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Zed.app</string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>E6B3E064-923E-4F44-9938-A2673E1FA0F4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>path_to_file_or_folder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CCC7481D-F60E-4654-A1E6-0CA95A468607</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:path_to_file_or_folder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>2AB45CFD-8642-4677-9135-596BF3D81054</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:path_to_file_or_folder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>047B334E-3DFD-4FF0-8E95-19C5800919CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:path_to_file_or_folder}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>F4221968-EBF7-4E59-B1F2-422923AEB602</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
        if length of (q as string) is greater than 0 then
                set isPush to true
        else
                set isPush to false
        end if
        tell application "Finder"
                try
                        set _cwd to POSIX path of ((folder of (front window)) as alias)
                on error
                        set _cwd to POSIX path of (path to home folder as alias)
                end try
        end tell
		
		if application "Ghostty" is running then
    			tell application "Ghostty" 
				activate
				tell current session of last window
			   		write text "pushd \"" &amp; _cwd &amp; "\""
		       	end tell
			end tell
		else
			tell application "Ghostty" 
				activate
				tell current session of last window
			   		 write text "cd \"" &amp; _cwd &amp; "\""
				end tell
			end tell
		end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>D193A798-49F6-43E0-91F6-677370FF256D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>codeb</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Open path ① “{query}” ② Selection in Finder ③ Frontmost Finder window in {var:open_in}</string>
				<key>text</key>
				<string>Open in {var:open_in} and Ghostty</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D9676183-2E78-4BBE-A766-3D529E083A60</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.selection</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>CB080C5E-956D-46AE-B833-3660D68FA9AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/finder.windows.current</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Selection</string>
						<key>uid</key>
						<string>BB36521F-27E9-4608-8FB9-DF063652E6EE</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Selection</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>21750E1C-77A3-4F52-81DD-1052976D1742</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>both</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AADFFD01-9787-4D84-B1BD-30BB7627BE92</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>THIS IS MY DEBUG PRINT: '{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>704BC273-F0C1-414E-A329-62BF43D53557</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

ghostty --working-directory=$query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9CD92BBE-4451-4384-B444-F066BE09D79F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict/>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.exists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>5E8AAEE9-BF3E-462D-9DAA-4955A0A22FB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>{var:keyword_for_opening_specified_path}</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Open path ① “{query}” ② Selection in Finder ③ Frontmost Finder window in {var:open_in}</string>
				<key>text</key>
				<string>Open in {var:open_in}</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CC170ECD-6B82-4A05-8681-8185ACE453FE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{var:input_path_needs_checking}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>CBFA16C0-110D-4B50-9DB9-206C9F671B81</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>4A1EBF66-EE75-4E0A-98C6-6C3E1BA15D7D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>DF322CB6-7BDB-4537-B42F-7619E25BD1BD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>input_path_needs_checking</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AACE501C-7C74-40C7-AC4D-F65409B28077</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>IT SHOULD RUN BOTH
</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>3F6996F7-9C98-476F-A155-36BA22CE7970</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>Path</string>
						<key>uid</key>
						<string>A715DB3D-EAD1-4231-AD8D-D0669E91AFE2</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>No Path</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>“{var:input_path_needs_checking}”</string>
				<key>title</key>
				<string>The path does not Exist!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>AAC4B16D-4672-4472-8542-2EDB040E6D23</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Open in VS Code

An [Alfred 5](https://www.alfredapp.com/) workflow for quickly opening files/folders with [Visual Studio Code](https://code.visualstudio.com/), [VSCodium](https://github.com/VSCodium/vscodium), or [Cursor](https://www.cursor.com/).

## Usage

Open files and folders in VS Code, VSCodium, or Cursor, via the `codeo` keyword.

![Open files with keyword](images/showcase_open.png)

Leave the argument empty to open the current selection or the frontmost folder in the Finder if there isn’t a selection.

Alternatively, open any selected file or folder via the Universal Action.

![Open selection with Universal Actions](images/showcase_universal_actions.png)

Search for files or folders to open via the `codef` keyword.

![Search for files to open with keyword](images/showcase_search.png)

## Acknowledgements

This workflow is based on the original [alfred-open-with-vscode-workflow](https://github.com/alexchantastic/alfred-open-with-vscode-workflow) by [@alexchantastic](https://github.com/alexchantastic).

## License

Code released under the MIT License.</string>
	<key>uidata</key>
	<dict>
		<key>047B334E-3DFD-4FF0-8E95-19C5800919CE</key>
		<dict>
			<key>xpos</key>
			<real>2715</real>
			<key>ypos</key>
			<real>460</real>
		</dict>
		<key>0713EB05-61B7-4A89-BF4B-F7A0E1DC7B52</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>0DF99641-3C65-4832-B2BA-B2B6A5B78B3D</key>
		<dict>
			<key>xpos</key>
			<real>2225</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>1645D8ED-90E4-4DB8-8620-3367149137EC</key>
		<dict>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>1CD12FA0-053C-4701-8A17-59817312945F</key>
		<dict>
			<key>xpos</key>
			<real>1215</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>21750E1C-77A3-4F52-81DD-1052976D1742</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>23968A32-1A35-48E3-9CBF-51D4504B904B</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>23DEA358-A623-4725-95B2-79C207AF4556</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>2AB45CFD-8642-4677-9135-596BF3D81054</key>
		<dict>
			<key>xpos</key>
			<real>2660</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>3F6996F7-9C98-476F-A155-36BA22CE7970</key>
		<dict>
			<key>xpos</key>
			<real>2425</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>43C6D947-9117-487D-B1E9-3C1925C9D244</key>
		<dict>
			<key>xpos</key>
			<real>395</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>45B49F26-FB87-4621-9086-09853148183C</key>
		<dict>
			<key>xpos</key>
			<real>2605</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>50774B7A-9E19-48CB-8671-08EF9796A602</key>
		<dict>
			<key>xpos</key>
			<real>1100</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>5483D3AE-DBE6-4FB8-ACF9-45EF494F0A57</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>710</real>
		</dict>
		<key>5E8AAEE9-BF3E-462D-9DAA-4955A0A22FB4</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>675</real>
		</dict>
		<key>606377E1-11F3-4C10-997E-8493141C5A92</key>
		<dict>
			<key>xpos</key>
			<real>1715</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>704BC273-F0C1-414E-A329-62BF43D53557</key>
		<dict>
			<key>xpos</key>
			<real>2670</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>723AA5F4-8AE3-47E1-B80A-162F4133A1E0</key>
		<dict>
			<key>xpos</key>
			<real>400</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>811C272A-CEA9-4EEE-BC20-090EC905E62C</key>
		<dict>
			<key>xpos</key>
			<real>1215</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>90BECD2C-A4E1-49A4-B789-36C79A8345B6</key>
		<dict>
			<key>xpos</key>
			<real>1420</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>927FD7BD-723F-45EB-9D99-05B0DF4D7A1B</key>
		<dict>
			<key>xpos</key>
			<real>2950</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>92F400EA-863E-4EAE-8CD0-E1C8385748BC</key>
		<dict>
			<key>xpos</key>
			<real>605</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>9CD92BBE-4451-4384-B444-F066BE09D79F</key>
		<dict>
			<key>xpos</key>
			<real>2775</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>A65E57BD-B0FC-437F-BC5C-E6E3AA7D80F4</key>
		<dict>
			<key>xpos</key>
			<real>2415</real>
			<key>ypos</key>
			<real>405</real>
		</dict>
		<key>AAC4B16D-4672-4472-8542-2EDB040E6D23</key>
		<dict>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>AACE501C-7C74-40C7-AC4D-F65409B28077</key>
		<dict>
			<key>xpos</key>
			<real>645</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>AADFFD01-9787-4D84-B1BD-30BB7627BE92</key>
		<dict>
			<key>xpos</key>
			<real>315</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>BAA6AA73-8660-46A3-820C-18D0098577C5</key>
		<dict>
			<key>xpos</key>
			<real>830</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>CB080C5E-956D-46AE-B833-3660D68FA9AD</key>
		<dict>
			<key>xpos</key>
			<real>735</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>CBFA16C0-110D-4B50-9DB9-206C9F671B81</key>
		<dict>
			<key>xpos</key>
			<real>1025</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>CC170ECD-6B82-4A05-8681-8185ACE453FE</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>690</real>
		</dict>
		<key>CC206210-07AC-4A07-9613-7DDAF70BDC6B</key>
		<dict>
			<key>xpos</key>
			<real>2810</real>
			<key>ypos</key>
			<real>370</real>
		</dict>
		<key>CCC7481D-F60E-4654-A1E6-0CA95A468607</key>
		<dict>
			<key>xpos</key>
			<real>2315</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>D193A798-49F6-43E0-91F6-677370FF256D</key>
		<dict>
			<key>xpos</key>
			<real>2755</real>
			<key>ypos</key>
			<real>510</real>
		</dict>
		<key>D9676183-2E78-4BBE-A766-3D529E083A60</key>
		<dict>
			<key>xpos</key>
			<real>125</real>
			<key>ypos</key>
			<real>530</real>
		</dict>
		<key>DDFAE429-BEEC-49EA-BEDB-7E71BD402695</key>
		<dict>
			<key>xpos</key>
			<real>185</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>DF322CB6-7BDB-4537-B42F-7619E25BD1BD</key>
		<dict>
			<key>xpos</key>
			<real>920</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>E6B3E064-923E-4F44-9938-A2673E1FA0F4</key>
		<dict>
			<key>xpos</key>
			<real>3090</real>
			<key>ypos</key>
			<real>430</real>
		</dict>
		<key>E8C40FE2-37EB-48B0-93AD-64A2330F8D7B</key>
		<dict>
			<key>xpos</key>
			<real>965</real>
			<key>ypos</key>
			<real>115</real>
		</dict>
		<key>EA493A9B-26B1-48B7-A73E-A4035A2E5ECE</key>
		<dict>
			<key>xpos</key>
			<real>1555</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>F4221968-EBF7-4E59-B1F2-422923AEB602</key>
		<dict>
			<key>xpos</key>
			<real>2555</real>
			<key>ypos</key>
			<real>500</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Both</string>
				<key>pairs</key>
				<array>
					<array>
						<string>VS Code</string>
						<string>VS Code</string>
					</array>
					<array>
						<string>VSCodium</string>
						<string>VSCodium</string>
					</array>
					<array>
						<string>Cursor</string>
						<string>Cursor</string>
					</array>
					<array>
						<string>Both</string>
						<string>Both</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Open in VS Code, VSCodium or Cursor</string>
			<key>label</key>
			<string>Open In</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>open_in</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>codef</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Keyword for Finding Path to Open</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_for_finding_path_to_open</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>codeo</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Open path by argument, selection in Finder, or front-most Finder path</string>
			<key>label</key>
			<string>Keyword for Opening Specified Path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>keyword_for_opening_specified_path</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Opens in both</string>
			</dict>
			<key>description</key>
			<string>Opens in editor and ghostty terminal</string>
			<key>label</key>
			<string>Should open in editor and terminal</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>both</string>
		</dict>
	</array>
	<key>version</key>
	<string>2025.7</string>
	<key>webaddress</key>
	<string>https://github.com/April-June-August/alfred-open-in-vscode</string>
</dict>
</plist>
