<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.roganoalien.languageSelector</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>42BDBC76-631F-4010-93F4-7B5BE9D92E75</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B092E581-2FBF-40F5-BEC2-2A742A5B3432</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5670C528-B7AE-42CF-9887-C3DD794E02D7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42BDBC76-631F-4010-93F4-7B5BE9D92E75</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6067D3A9-8AD6-49C8-8738-61293C060CBC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B629F4C9-74FA-480B-91FC-B0DFBECF89F5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ACBAD479-1AF2-4CD0-9457-D5442CCD8BA6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B092E581-2FBF-40F5-BEC2-2A742A5B3432</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B629F4C9-74FA-480B-91FC-B0DFBECF89F5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B092E581-2FBF-40F5-BEC2-2A742A5B3432</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD4FB912-F860-4E12-92C3-16ABFB0B3272</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ACBAD479-1AF2-4CD0-9457-D5442CCD8BA6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F82DCC0A-9C0E-4F13-AD67-3D7A88011956</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6067D3A9-8AD6-49C8-8738-61293C060CBC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>Gets all available languages in you Mac and displays a list to change keyboard layout</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Language Selector</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>37</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>L</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>F82DCC0A-9C0E-4F13-AD67-3D7A88011956</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Keyboard Layout Changed</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B092E581-2FBF-40F5-BEC2-2A742A5B3432</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./keyboardlang $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B629F4C9-74FA-480B-91FC-B0DFBECF89F5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./keyboardlang</string>
				<key>subtext</key>
				<string>Shows you a list of all available keyboard layouts</string>
				<key>title</key>
				<string>Toggle Language</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6067D3A9-8AD6-49C8-8738-61293C060CBC</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5670C528-B7AE-42CF-9887-C3DD794E02D7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./keyboardlang "next"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>42BDBC76-631F-4010-93F4-7B5BE9D92E75</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>DD4FB912-F860-4E12-92C3-16ABFB0B3272</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./keyboardlang "prev"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>ACBAD479-1AF2-4CD0-9457-D5442CCD8BA6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow was made by Rodrigo García (https://github.com/roganoalien) and it was made using go. If you need help or report an issue send an email to hola@rodrigodelacruz.com</string>
	<key>uidata</key>
	<dict>
		<key>42BDBC76-631F-4010-93F4-7B5BE9D92E75</key>
		<dict>
			<key>note</key>
			<string>Executes the same Go executable but passing the selected language as an argument which changes the layout</string>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>5670C528-B7AE-42CF-9887-C3DD794E02D7</key>
		<dict>
			<key>note</key>
			<string>Triggers next element</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>6067D3A9-8AD6-49C8-8738-61293C060CBC</key>
		<dict>
			<key>note</key>
			<string>Runs Go executable in order to get a list of available languages and display which one is the current one.</string>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>ACBAD479-1AF2-4CD0-9457-D5442CCD8BA6</key>
		<dict>
			<key>note</key>
			<string>Executes the same Go executable but passing the selected language as an argument which changes the layout</string>
			<key>xpos</key>
			<real>385</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>B092E581-2FBF-40F5-BEC2-2A742A5B3432</key>
		<dict>
			<key>note</key>
			<string>Just a notification saying that language was changed and to which language</string>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>B629F4C9-74FA-480B-91FC-B0DFBECF89F5</key>
		<dict>
			<key>note</key>
			<string>Executes the same Go executable but passing the selected language as an argument which changes the layout</string>
			<key>xpos</key>
			<real>500</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>DD4FB912-F860-4E12-92C3-16ABFB0B3272</key>
		<dict>
			<key>note</key>
			<string>Triggers prev element</string>
			<key>xpos</key>
			<real>115</real>
			<key>ypos</key>
			<real>670</real>
		</dict>
		<key>F82DCC0A-9C0E-4F13-AD67-3D7A88011956</key>
		<dict>
			<key>note</key>
			<string>Trigger shortcut... change it to whatever you like</string>
			<key>xpos</key>
			<real>110</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://rodrigodelacruz.com</string>
</dict>
</plist>
