<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.flydev.idrsapub</string>
	<key>connections</key>
	<dict>
		<key>0471032D-800F-416D-AB01-D788182EB8A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F3A062C8-450D-4312-AE74-21B61A333932</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53411848-4C0C-49A8-BFF1-D337A3362BB7</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Copy and paste to current application</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53411848-4C0C-49A8-BFF1-D337A3362BB7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A584B6E-08F0-4358-A5C0-47D3FAB5812D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3A062C8-450D-4312-AE74-21B61A333932</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>48EA33A3-2172-435B-B959-C23E9917A84B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martín M.</string>
	<key>description</key>
	<string>Copy your id_rsa.pub content to clipboard</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Copy SSH Key</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat ~/.ssh/id_rsa.pub</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F3A062C8-450D-4312-AE74-21B61A333932</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>48EA33A3-2172-435B-B959-C23E9917A84B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>subtext</key>
				<string>Copy id_rsa.pub to clipboard</string>
				<key>text</key>
				<string>Copy Public Key</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0471032D-800F-416D-AB01-D788182EB8A6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>cat ~/.ssh/id_rsa.pub</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>53411848-4C0C-49A8-BFF1-D337A3362BB7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8A584B6E-08F0-4358-A5C0-47D3FAB5812D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Copy your id_rsa.pub content to clipboard</string>
	<key>uidata</key>
	<dict>
		<key>0471032D-800F-416D-AB01-D788182EB8A6</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>48EA33A3-2172-435B-B959-C23E9917A84B</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>53411848-4C0C-49A8-BFF1-D337A3362BB7</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>8A584B6E-08F0-4358-A5C0-47D3FAB5812D</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>F3A062C8-450D-4312-AE74-21B61A333932</key>
		<dict>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/skydiver/</string>
</dict>
</plist>
