<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lb2_api_key</key>
	<string>2a5dfe6d7aef9dfb196c8bbbcbdeb0f6f3bc38d5</string>
	<key>lb2_api_service</key>
	<string>getgeoapi.com</string>
</dict>
</plist>
