<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>2dCmp</string>
	<key>connections</key>
	<dict>
		<key>1C33FF7B-7E00-4BD1-8101-A8D558F65204</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27F95E47-3F81-4311-818E-30F6463D217A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B2AC758E-0F72-439E-BCA7-038DD346EB85</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3948B63B-7A05-4795-931F-7A44FA387078</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C775E72-0AE0-4A25-88DE-66435D0394E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABA585C6-C15D-4D09-A4F2-F7D76BBF29E4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9C775E72-0AE0-4A25-88DE-66435D0394E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>532CD9BB-6752-4C94-B4F6-45A31F6A070E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6E56615A-B357-4E70-82EB-707FD9AAA737</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>532CD9BB-6752-4C94-B4F6-45A31F6A070E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>46ACC71A-1B3E-4A40-8C86-AFCE94531A15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>27F95E47-3F81-4311-818E-30F6463D217A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>589B37FD-2544-4A42-81D1-1CC46DF82B35</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>526AF2AC-DAF9-4F5D-B577-CB5498A869F1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>46ACC71A-1B3E-4A40-8C86-AFCE94531A15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>ABA585C6-C15D-4D09-A4F2-F7D76BBF29E4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>1C33FF7B-7E00-4BD1-8101-A8D558F65204</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>569290E8-7248-4766-B43D-BC04C9C3EBAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3948B63B-7A05-4795-931F-7A44FA387078</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>589B37FD-2544-4A42-81D1-1CC46DF82B35</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB62DACE-C928-4041-BEE6-9FD2FA6C0FEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>697E9E33-1543-4296-AA5C-CEE91B3996C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>569290E8-7248-4766-B43D-BC04C9C3EBAD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D658E7A-E1BF-4A7D-945F-78675004564C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99BB6560-8EE7-4614-A1EC-90F0FD1CE0BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>978B5563-1908-41BD-AF48-A6225DDCDB7B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7B9F71E-7503-4E8B-B138-97FEE34A2BE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9E6AF121-E6FC-43C4-A314-4D1DE93E91E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>526AF2AC-DAF9-4F5D-B577-CB5498A869F1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5196BEF-2914-4955-BAB3-0891BA13197B</key>
		<array/>
		<key>A7B9F71E-7503-4E8B-B138-97FEE34A2BE0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>697E9E33-1543-4296-AA5C-CEE91B3996C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2AC758E-0F72-439E-BCA7-038DD346EB85</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AB62DACE-C928-4041-BEE6-9FD2FA6C0FEF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>Opens current folder or file inside terminal, visual stuido code or both</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>CD into folder or file</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
        if length of (q as string) is greater than 0 then
                set isPush to true
        else
                set isPush to false
        end if
        tell application "Finder"
                try
                        set _cwd to POSIX path of ((folder of (front window)) as alias)
                on error
                        set _cwd to POSIX path of (path to home folder as alias)
                end try
        end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>46ACC71A-1B3E-4A40-8C86-AFCE94531A15</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Opens in Both","arg":"both"},{"title":"Opens in Ghostty","arg":"ghostty"},{"title":"Opens in VS Code","arg":"code"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Select One</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>893A624E-54D0-4DFA-B5E1-1F93629CB554</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>27F95E47-3F81-4311-818E-30F6463D217A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Enter Search Query</string>
				<key>text</key>
				<string>{var:bang} Search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DEB239B0-6A18-40A5-94A6-EC16C8AE3CA5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>isFolder</key>
					<string>true</string>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>589B37FD-2544-4A42-81D1-1CC46DF82B35</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>multiplecd</string>
				<key>subtext</key>
				<string>use file or folder</string>
				<key>text</key>
				<string>Open folder or file in terminal, visual studio code or both</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>9E6AF121-E6FC-43C4-A314-4D1DE93E91E0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>availableviaurlhandler</key>
				<false/>
				<key>triggerid</key>
				<string>opens_in</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>A5196BEF-2914-4955-BAB3-0891BA13197B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>opens_in</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>AB62DACE-C928-4041-BEE6-9FD2FA6C0FEF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
        if length of (q as string) is greater than 0 then
                set isPush to true
        else
                set isPush to false
        end if
        tell application "Finder"
			set selectionList to selection
        		if (count of selectionList) is greater than 0 then
            		set filePath to POSIX path of (first item of selectionList as alias)
            		return filePath
        		else
            		return "No file selected"
        		end if
        end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>1C33FF7B-7E00-4BD1-8101-A8D558F65204</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>folder</string>
						<key>outputlabel</key>
						<string></string>
						<key>uid</key>
						<string>ABA585C6-C15D-4D09-A4F2-F7D76BBF29E4</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>526AF2AC-DAF9-4F5D-B577-CB5498A869F1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>9707AFA5-CC20-4794-BAC1-4BC328AE9A0E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>84</integer>
				<key>script</key>
				<string>query=$1

&gt;&amp;2 echo $pathname

open $pathname -a ${editor//\\/\\\\}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9C775E72-0AE0-4A25-88DE-66435D0394E8</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Will open in some app</string>
				<key>text</key>
				<string>{var:path} opens in</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8D658E7A-E1BF-4A7D-945F-78675004564C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>isFolder</key>
					<string>false</string>
					<key>path</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B2AC758E-0F72-439E-BCA7-038DD346EB85</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>99BB6560-8EE7-4614-A1EC-90F0FD1CE0BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
		if application "Ghostty" is running then
    			tell application "Ghostty" 
				activate
				tell current session of last window
			   		write text "pushd \"" &amp; ~/git_projects &amp; "\""
		       	end tell
			end tell
		else
			tell application "iTerm" 
				activate
				tell current session of last window
			   		 write text "cd \"" &amp; ~/git_aeromexico &amp; "\""
				end tell
			end tell
		end if
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>532CD9BB-6752-4C94-B4F6-45A31F6A070E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
        if length of (q as string) is greater than 0 then
                set isPush to true
        else
                set isPush to false
        end if
        tell application "Finder"
                try
                        set _cwd to POSIX path of ((folder of (front window)) as alias)
                on error
                        set _cwd to POSIX path of (path to home folder as alias)
                end try
        end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>697E9E33-1543-4296-AA5C-CEE91B3996C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<true/>
				<key>items</key>
				<string>[{"title":"Opens in both","arg":"both"},{"title":"Opens in Ghostty","arg":"ghostty"},{"title":"Opens in VS Code","arg":"code"}]</string>
				<key>keyword</key>
				<string>cd</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Select the app</string>
				<key>title</key>
				<string>Opens folder in</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>978B5563-1908-41BD-AF48-A6225DDCDB7B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>code</string>
						<key>outputlabel</key>
						<string>code</string>
						<key>uid</key>
						<string>ABA585C6-C15D-4D09-A4F2-F7D76BBF29E4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ghostty</string>
						<key>outputlabel</key>
						<string>ghostty</string>
						<key>uid</key>
						<string>6E56615A-B357-4E70-82EB-707FD9AAA737</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>both</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3948B63B-7A05-4795-931F-7A44FA387078</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>pathname</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>569290E8-7248-4766-B43D-BC04C9C3EBAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>where</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A7B9F71E-7503-4E8B-B138-97FEE34A2BE0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1C33FF7B-7E00-4BD1-8101-A8D558F65204</key>
		<dict>
			<key>note</key>
			<string>Gets current FILE</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>27F95E47-3F81-4311-818E-30F6463D217A</key>
		<dict>
			<key>xpos</key>
			<real>505</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>3948B63B-7A05-4795-931F-7A44FA387078</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>390</real>
		</dict>
		<key>46ACC71A-1B3E-4A40-8C86-AFCE94531A15</key>
		<dict>
			<key>note</key>
			<string>Gets current FOLDER</string>
			<key>xpos</key>
			<real>275</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>526AF2AC-DAF9-4F5D-B577-CB5498A869F1</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>532CD9BB-6752-4C94-B4F6-45A31F6A070E</key>
		<dict>
			<key>note</key>
			<string>GHOSTTY</string>
			<key>xpos</key>
			<real>705</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>569290E8-7248-4766-B43D-BC04C9C3EBAD</key>
		<dict>
			<key>xpos</key>
			<real>435</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>589B37FD-2544-4A42-81D1-1CC46DF82B35</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>697E9E33-1543-4296-AA5C-CEE91B3996C6</key>
		<dict>
			<key>note</key>
			<string>Gets current FOLDER</string>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>893A624E-54D0-4DFA-B5E1-1F93629CB554</key>
		<dict>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>8D658E7A-E1BF-4A7D-945F-78675004564C</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>9707AFA5-CC20-4794-BAC1-4BC328AE9A0E</key>
		<dict>
			<key>xpos</key>
			<real>1080</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>978B5563-1908-41BD-AF48-A6225DDCDB7B</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>385</real>
		</dict>
		<key>99BB6560-8EE7-4614-A1EC-90F0FD1CE0BF</key>
		<dict>
			<key>xpos</key>
			<real>1060</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>9C775E72-0AE0-4A25-88DE-66435D0394E8</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
		<key>9E6AF121-E6FC-43C4-A314-4D1DE93E91E0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A5196BEF-2914-4955-BAB3-0891BA13197B</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>A7B9F71E-7503-4E8B-B138-97FEE34A2BE0</key>
		<dict>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>415</real>
		</dict>
		<key>AB62DACE-C928-4041-BEE6-9FD2FA6C0FEF</key>
		<dict>
			<key>xpos</key>
			<real>530</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>B2AC758E-0F72-439E-BCA7-038DD346EB85</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>305</real>
		</dict>
		<key>DEB239B0-6A18-40A5-94A6-EC16C8AE3CA5</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>35</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://rodrigogarcia.com.mx</string>
</dict>
</plist>
