<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.urlimport.A9148242-CADA-41CC-9311-F385D2724C6F</string>
	<key>lightthemeuid</key>
	<string>theme.urlimport.A9148242-CADA-41CC-9311-F385D2724C6F</string>
</dict>
</plist>
