<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.finderMerge</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1D4CDCD3-09A6-4433-8B43-F083BE23B2E0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EB8B79DA-EB3C-4EC0-949A-457B81F62167</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA37D5A4-9FB4-4066-8F66-BAE8A5478BA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D4CDCD3-09A6-4433-8B43-F083BE23B2E0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C0E20BC0-BA71-4149-A608-3F6BABA91440</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0DD9070D-CF00-44CA-A5FA-95193F57E130</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EB8B79DA-EB3C-4EC0-949A-457B81F62167</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2A25704A-A188-434D-A939-C2FE3B707E2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>60DB1A17-28CD-4DF7-A572-9FBC082BC164</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>00EA828F-34E4-4E80-B16D-BDFCDFF24AB2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>56E59255-A97D-4C11-BD6E-4089226B5EBE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>Merges all windows into a single one and puts them as tabs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder Merge All Windows</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	tell application "System Events"
		tell process "Finder"
			set frontmost to true
			delay 0.5
			click menu item "Merge All Windows" of menu "Window" of menu bar 1
		end tell
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0DD9070D-CF00-44CA-A5FA-95193F57E130</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fmerge</string>
				<key>subtext</key>
				<string>Merges all windows into one</string>
				<key>text</key>
				<string>Finder Merge Windows</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C0E20BC0-BA71-4149-A608-3F6BABA91440</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	tell application "System Events"
		tell process "Finder"
			click menu item "Move Tab to New Window" of menu "Window" of menu bar 1
		end tell
	end tell
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2A25704A-A188-434D-A939-C2FE3B707E2A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>fmove</string>
				<key>subtext</key>
				<string>Turns Tab into Window</string>
				<key>text</key>
				<string>Finder Move Tab</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BA37D5A4-9FB4-4066-8F66-BAE8A5478BA4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>on run
	if frontmost of application "Finder" then
		set query to "true"
	else
		set query to "false"
	end if
end run</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1D4CDCD3-09A6-4433-8B43-F083BE23B2E0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>The frontmost app should be finder for it to work</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>00EA828F-34E4-4E80-B16D-BDFCDFF24AB2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>true</string>
						<key>uid</key>
						<string>60DB1A17-28CD-4DF7-A572-9FBC082BC164</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>false</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>EB8B79DA-EB3C-4EC0-949A-457B81F62167</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Sosumi</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>56E59255-A97D-4C11-BD6E-4089226B5EBE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>00EA828F-34E4-4E80-B16D-BDFCDFF24AB2</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>0DD9070D-CF00-44CA-A5FA-95193F57E130</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>1D4CDCD3-09A6-4433-8B43-F083BE23B2E0</key>
		<dict>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>2A25704A-A188-434D-A939-C2FE3B707E2A</key>
		<dict>
			<key>xpos</key>
			<real>535</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>56E59255-A97D-4C11-BD6E-4089226B5EBE</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>BA37D5A4-9FB4-4066-8F66-BAE8A5478BA4</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>C0E20BC0-BA71-4149-A608-3F6BABA91440</key>
		<dict>
			<key>xpos</key>
			<real>70</real>
			<key>ypos</key>
			<real>140</real>
		</dict>
		<key>EB8B79DA-EB3C-4EC0-949A-457B81F62167</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://rodrigogarcia.com.mx</string>
</dict>
</plist>
