<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>fmanoeli.ntfsenabler</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04E31D98-3B50-4BE4-B895-86C4C0C73C40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B173E96F-0FC6-4133-9FFB-3432088C5EDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>0CAC59E9-C057-4BD7-B8CF-A8226DE30072</key>
		<array/>
		<key>49BB84EE-8158-4CE3-9C09-0141E3835AD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04E31D98-3B50-4BE4-B895-86C4C0C73C40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4AF9B2F9-D9AD-4348-8089-9C7786020D30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EEE3AB4B-73DD-4342-9091-2E07214E2B15</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>5164E55A-41B1-4E50-A1DF-859C6CC6D92F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A291E1E3-18A9-4EFB-B7AB-B64B2E703120</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>AF63074A-94A0-4AC2-80D6-D1B38A51F4A6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CAC59E9-C057-4BD7-B8CF-A8226DE30072</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CB65DE7C-B2A5-4891-AC7E-EF5737A68F38</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Eject This Drive</string>
			</dict>
		</array>
		<key>CB65DE7C-B2A5-4891-AC7E-EF5737A68F38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B173E96F-0FC6-4133-9FFB-3432088C5EDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>EEE3AB4B-73DD-4342-9091-2E07214E2B15</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B173E96F-0FC6-4133-9FFB-3432088C5EDC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Felipe Manoeli</string>
	<key>description</key>
	<string>Enable Write to NTFS drives (v 1.0)</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NTFS Enabler</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>open "/Volumes/{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0CAC59E9-C057-4BD7-B8CF-A8226DE30072</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ntfs</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./drives.rb</string>
				<key>title</key>
				<string>NTFS Mounted Drives</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>AF63074A-94A0-4AC2-80D6-D1B38A51F4A6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>diskutil eject "/Volumes/{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CB65DE7C-B2A5-4891-AC7E-EF5737A68F38</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>NTFS Enabler</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B173E96F-0FC6-4133-9FFB-3432088C5EDC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ntf enable</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./add.rb</string>
				<key>title</key>
				<string>Enable NTFS write</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>4AF9B2F9-D9AD-4348-8089-9C7786020D30</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>57</integer>
				<key>script</key>
				<string>set userpass to ""

do shell script "sudo ruby enabler.rb '{query}'" password userpass with administrator privileges</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EEE3AB4B-73DD-4342-9091-2E07214E2B15</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>ntf remove</string>
				<key>runningsubtext</key>
				<string>Loading...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./remove.rb</string>
				<key>title</key>
				<string>Remove NTFS write</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>49BB84EE-8158-4CE3-9C09-0141E3835AD7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>set userpass to ""

do shell script "sudo ruby remover.rb '{query}'" password userpass with administrator privileges
</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04E31D98-3B50-4BE4-B895-86C4C0C73C40</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>nt clear</string>
				<key>text</key>
				<string>Clear all previously added NTFS drives</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5164E55A-41B1-4E50-A1DF-859C6CC6D92F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>57</integer>
				<key>script</key>
				<string>set userpass to ""

do shell script "sudo rm /etc/fstab" password userpass with administrator privileges</string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A291E1E3-18A9-4EFB-B7AB-B64B2E703120</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04E31D98-3B50-4BE4-B895-86C4C0C73C40</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>0CAC59E9-C057-4BD7-B8CF-A8226DE30072</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>49BB84EE-8158-4CE3-9C09-0141E3835AD7</key>
		<dict>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>4AF9B2F9-D9AD-4348-8089-9C7786020D30</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>5164E55A-41B1-4E50-A1DF-859C6CC6D92F</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>A291E1E3-18A9-4EFB-B7AB-B64B2E703120</key>
		<dict>
			<key>ypos</key>
			<real>520</real>
		</dict>
		<key>AF63074A-94A0-4AC2-80D6-D1B38A51F4A6</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>B173E96F-0FC6-4133-9FFB-3432088C5EDC</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>CB65DE7C-B2A5-4891-AC7E-EF5737A68F38</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>EEE3AB4B-73DD-4342-9091-2E07214E2B15</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
