<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.open-in-code-editor</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0C540F98-6F90-46B7-948B-2F32DA41709F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2E0F7196-49E8-4332-A205-9C2AC5759AA7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>20A5A19A-2533-4EA7-B35E-981F8307FE31</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EBA354CE-F931-488B-A39B-617F2AEF0E80</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2356E56C-B055-42A5-836A-EBE58D6694ED</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>007E1BF7-365A-4A15-88D7-4D632CD1CFB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>75B82A6E-98B8-4ACE-9D37-EB4A78662ADC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2E0F7196-49E8-4332-A205-9C2AC5759AA7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1F3C1CD-42F1-47E6-A66A-3F9D2F52C384</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>36E2A242-38E7-46DB-862B-D9EAB1D0634C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>904EE9AD-10E7-42B2-B2A6-3DFEE5412A49</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37F77BB9-15D0-49B1-BE95-A71C489818EA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFB7CD28-4808-4BEC-A0C0-46A58021D3BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BFB7CD28-4808-4BEC-A0C0-46A58021D3BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BD4BCA5-3F42-49F8-97F8-34B2636D1A6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BD4BCA5-3F42-49F8-97F8-34B2636D1A6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button1</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>AAA2A451-64CA-4BEE-A6F3-53241B8C5829</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button3</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C540F98-6F90-46B7-948B-2F32DA41709F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>_button2</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38522749-A43F-4E2B-A5D5-A769CF906D3F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62CAB86F-DADF-45A1-84EC-A194466F93FA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A2570B8-703C-4725-BBE0-5DB6AF98F19A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F1E47934-28AA-416C-8E04-8ABBEF76FE00</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C540F98-6F90-46B7-948B-2F32DA41709F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>54A9973D-F81A-4E1F-AC99-A7DD7C6AF18F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54A9973D-F81A-4E1F-AC99-A7DD7C6AF18F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BFB7CD28-4808-4BEC-A0C0-46A58021D3BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BFB7CD28-4808-4BEC-A0C0-46A58021D3BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9B18FBEB-117F-4976-A46F-972468D15949</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>37F77BB9-15D0-49B1-BE95-A71C489818EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C38C336C-BF72-4E76-9C7F-8517AE1904E4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BD4BCA5-3F42-49F8-97F8-34B2636D1A6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9BD4BCA5-3F42-49F8-97F8-34B2636D1A6A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9B18FBEB-117F-4976-A46F-972468D15949</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0C540F98-6F90-46B7-948B-2F32DA41709F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>9B18FBEB-117F-4976-A46F-972468D15949</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62CAB86F-DADF-45A1-84EC-A194466F93FA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8D6B3FB2-3597-4111-997F-9B5E972F5861</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>904EE9AD-10E7-42B2-B2A6-3DFEE5412A49</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9BD4BCA5-3F42-49F8-97F8-34B2636D1A6A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D1F3C1CD-42F1-47E6-A66A-3F9D2F52C384</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A92F7784-32FD-4AC1-9ABE-998F2BC48D5B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AAA2A451-64CA-4BEE-A6F3-53241B8C5829</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>36949562-BC87-4554-BB47-473B43554212</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C0BAE695-31A2-4E2C-AED9-F7B0120C8C78</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>AF828C55-430C-41DB-9476-ED749EC348B8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B140AEE6-B449-4344-A8AE-B1DBE6DC5B68</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C92AB306-4F23-4414-ADB4-3134118A8941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B62FEA8A-D1F7-4D27-85CE-BDD891682399</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D6B3FB2-3597-4111-997F-9B5E972F5861</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BFB7CD28-4808-4BEC-A0C0-46A58021D3BF</key>
		<array/>
		<key>D1F3C1CD-42F1-47E6-A66A-3F9D2F52C384</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C92AB306-4F23-4414-ADB4-3134118A8941</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2356E56C-B055-42A5-836A-EBE58D6694ED</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE485CD5-C589-483D-91B5-900AD9C18985</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A92F7784-32FD-4AC1-9ABE-998F2BC48D5B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E32278BB-27EA-4269-A7B5-9523CBAC9646</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>AF828C55-430C-41DB-9476-ED749EC348B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EBA354CE-F931-488B-A39B-617F2AEF0E80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F1E47934-28AA-416C-8E04-8ABBEF76FE00</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B140AEE6-B449-4344-A8AE-B1DBE6DC5B68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FCDABDD0-AB03-429D-8CB7-AAE640E7AB43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A2570B8-703C-4725-BBE0-5DB6AF98F19A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>Opens folder or file in a code editor or configured terminal</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in Code Editor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>goland</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Users</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>find the file or folder you want to open</string>
				<key>title</key>
				<string>Open in Goland</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>38522749-A43F-4E2B-A5D5-A769CF906D3F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># displays notifications but cannot personalize notification icon

display notification "mensaje de prueba" with title "Título de prueba" sound name "Morse"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>566B02B7-5521-406E-B364-DAF36EF4F8EC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Opened {query} in {var:editor}</string>
				<key>title</key>
				<string>Open in Code Editor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>007E1BF7-365A-4A15-88D7-4D632CD1CFB4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>editor</key>
					<string>GoLand</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>62CAB86F-DADF-45A1-84EC-A194466F93FA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>84</integer>
				<key>script</key>
				<string>query=$1

&gt;&amp;2 echo $editor

&gt;&amp;2 echo $query

open $query -a ${editor//\\/\\\\}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BFB7CD28-4808-4BEC-A0C0-46A58021D3BF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>button1</key>
				<string>Code editor</string>
				<key>button2</key>
				<string>Both</string>
				<key>button3</key>
				<string>Cancel</string>
				<key>description</key>
				<string>Open just in code editor or also in terminal</string>
				<key>title</key>
				<string>Testing</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.dialog</string>
			<key>uid</key>
			<string>37F77BB9-15D0-49B1-BE95-A71C489818EA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>code</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Users</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>find the file or folder you want to open</string>
				<key>title</key>
				<string>Open in VS Code</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>E32278BB-27EA-4269-A7B5-9523CBAC9646</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>editor</key>
					<string>Visual Studio Code</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>AF828C55-430C-41DB-9476-ED749EC348B8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Glass</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>C92AB306-4F23-4414-ADB4-3134118A8941</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:default}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>both</string>
						<key>outputlabel</key>
						<string>both notifications</string>
						<key>uid</key>
						<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2356E56C-B055-42A5-836A-EBE58D6694ED</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:sound}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>play sound</string>
						<key>uid</key>
						<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>D1F3C1CD-42F1-47E6-A66A-3F9D2F52C384</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>9BD4BCA5-3F42-49F8-97F8-34B2636D1A6A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>subl</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Users</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>find the file or folder you want to open</string>
				<key>title</key>
				<string>Open in Sublime Text</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>20A5A19A-2533-4EA7-B35E-981F8307FE31</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>editor</key>
					<string>Sublime Text</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>EBA354CE-F931-488B-A39B-617F2AEF0E80</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:default}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ask</string>
						<key>outputlabel</key>
						<string>go and ask</string>
						<key>uid</key>
						<string>C38C336C-BF72-4E76-9C7F-8517AE1904E4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:default}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>both</string>
						<key>outputlabel</key>
						<string>open both</string>
						<key>uid</key>
						<string>9B18FBEB-117F-4976-A46F-972468D15949</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>54A9973D-F81A-4E1F-AC99-A7DD7C6AF18F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Bottle</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>36949562-BC87-4554-BB47-473B43554212</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:sound}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>play sound</string>
						<key>uid</key>
						<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>AAA2A451-64CA-4BEE-A6F3-53241B8C5829</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>codium</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Users</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>find the file or folder you want to open</string>
				<key>title</key>
				<string>Open in VSCodium</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>B62FEA8A-D1F7-4D27-85CE-BDD891682399</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>editor</key>
					<string>VSCodium</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>8D6B3FB2-3597-4111-997F-9B5E972F5861</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Canceled action</string>
				<key>title</key>
				<string>Open in Code Editor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C0BAE695-31A2-4E2C-AED9-F7B0120C8C78</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>storm</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Users</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>find the file or folder you want to open</string>
				<key>title</key>
				<string>Open in PhpStorm</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>DE485CD5-C589-483D-91B5-900AD9C18985</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Opened {query} in {var:terminal}</string>
				<key>title</key>
				<string>Open in Code Editor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>B140AEE6-B449-4344-A8AE-B1DBE6DC5B68</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>editor</key>
					<string>PhpStorm</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>A92F7784-32FD-4AC1-9ABE-998F2BC48D5B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:sound}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>5</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>play sound</string>
						<key>uid</key>
						<string>11CAF176-FBC6-42BE-B5F5-9203D2B4D7FC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>F1E47934-28AA-416C-8E04-8ABBEF76FE00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Opened {query} in both {var:editor} and {var:terminal}</string>
				<key>title</key>
				<string>Open in Code Editor</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>75B82A6E-98B8-4ACE-9D37-EB4A78662ADC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>pycharm</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Users</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>find the file or folder you want to open</string>
				<key>title</key>
				<string>Open in PyCharm</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>36E2A242-38E7-46DB-862B-D9EAB1D0634C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>editor</key>
					<string>PyCharm CE</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>904EE9AD-10E7-42B2-B2A6-3DFEE5412A49</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>query=$1


open -a $terminal -e $query</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2E0F7196-49E8-4332-A205-9C2AC5759AA7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>0C540F98-6F90-46B7-948B-2F32DA41709F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemOMUserTags</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<false/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemTitle</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>terminal</string>
				<key>limit</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array>
					<string>/Users</string>
				</array>
				<key>sortmode</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>find the file or folder you want to open</string>
				<key>title</key>
				<string>Open in {var:terminal}</string>
				<key>types</key>
				<array/>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>FCDABDD0-AB03-429D-8CB7-AAE640E7AB43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>editor</key>
					<string>{var:terminal}</string>
					<key>isTerminal</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3A2570B8-703C-4725-BBE0-5DB6AF98F19A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Open in Code Editor

**You need to set the `terminal` env before using the workflow.**

This workflow helps you to open a `folder` inside a `code editor`, inside your prefered `terminal` or in both at the same time. You need to configure some `env variables` in order for it to work:

- `Dialog display [default]` [string] that it's default value is `ask` which will make the prompt at the end of the flow to ask you if you want to open the selected file/folder in just the `code editor`, in `both` `code editor` and your `terminal` or `no-dialog` which will make the default action to open the folder/file in the code editor.
- `Sounds` [boolean] that it's default value is checked. Un check it to prevent the sounds triggered after finishing or canceling the flow. It also adds/removes the post notifications.
- `terminal` [string] that has no default and you need to add the name of the terminal you're using. E.g. `iTerm` to make iTerm app the terminal for this workflow.

#### Keywords:

- `code` opens the folder/file inside **Visual Studio Code**
- `subl` opens the folder/file inside **Sublime Text**
- `codium` opens the folder/file inside **VSCodium**
- `storm` opens the folder/file inside **PhpStorm**
- `terminal` opens the folder/file inside **your terminal**. If app name *has spaces* then and `\` after each word. E.g. `My\ Terminal` otherwise it would not work.

#### Specifications:

There's no filter in the search of files to make it compatible with every file posible that could be opened and read the insides like svg files, json, html, css, sass, less, stylus and every programming language and none programming language file.

#### Sugestions, requests and issues

Feel free to ask for features or post issues you're having with the workflow. I'll try to fix those as fast as I can.</string>
	<key>uidata</key>
	<dict>
		<key>007E1BF7-365A-4A15-88D7-4D632CD1CFB4</key>
		<dict>
			<key>xpos</key>
			<real>1250</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>0C540F98-6F90-46B7-948B-2F32DA41709F</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>20A5A19A-2533-4EA7-B35E-981F8307FE31</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>2356E56C-B055-42A5-836A-EBE58D6694ED</key>
		<dict>
			<key>xpos</key>
			<real>1005</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>2E0F7196-49E8-4332-A205-9C2AC5759AA7</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>36949562-BC87-4554-BB47-473B43554212</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>36E2A242-38E7-46DB-862B-D9EAB1D0634C</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>650</real>
		</dict>
		<key>37F77BB9-15D0-49B1-BE95-A71C489818EA</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>38522749-A43F-4E2B-A5D5-A769CF906D3F</key>
		<dict>
			<key>xpos</key>
			<real>180</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>3A2570B8-703C-4725-BBE0-5DB6AF98F19A</key>
		<dict>
			<key>xpos</key>
			<real>220</real>
			<key>ypos</key>
			<real>815</real>
		</dict>
		<key>412B728A-FDD5-4BB2-9AB0-CE24F88A6464</key>
		<dict>
			<key>xpos</key>
			<real>345</real>
			<key>ypos</key>
			<real>335</real>
		</dict>
		<key>54A9973D-F81A-4E1F-AC99-A7DD7C6AF18F</key>
		<dict>
			<key>xpos</key>
			<real>440</real>
			<key>ypos</key>
			<real>315</real>
		</dict>
		<key>566B02B7-5521-406E-B364-DAF36EF4F8EC</key>
		<dict>
			<key>xpos</key>
			<real>995</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>62CAB86F-DADF-45A1-84EC-A194466F93FA</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>45</real>
		</dict>
		<key>75B82A6E-98B8-4ACE-9D37-EB4A78662ADC</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>8D6B3FB2-3597-4111-997F-9B5E972F5861</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>410</real>
		</dict>
		<key>904EE9AD-10E7-42B2-B2A6-3DFEE5412A49</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>680</real>
		</dict>
		<key>9BD4BCA5-3F42-49F8-97F8-34B2636D1A6A</key>
		<dict>
			<key>xpos</key>
			<real>650</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>A92F7784-32FD-4AC1-9ABE-998F2BC48D5B</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>545</real>
		</dict>
		<key>AAA2A451-64CA-4BEE-A6F3-53241B8C5829</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>355</real>
		</dict>
		<key>AF828C55-430C-41DB-9476-ED749EC348B8</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>B140AEE6-B449-4344-A8AE-B1DBE6DC5B68</key>
		<dict>
			<key>xpos</key>
			<real>1000</real>
			<key>ypos</key>
			<real>535</real>
		</dict>
		<key>B62FEA8A-D1F7-4D27-85CE-BDD891682399</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>380</real>
		</dict>
		<key>BFB7CD28-4808-4BEC-A0C0-46A58021D3BF</key>
		<dict>
			<key>xpos</key>
			<real>785</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>C0BAE695-31A2-4E2C-AED9-F7B0120C8C78</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>475</real>
		</dict>
		<key>C92AB306-4F23-4414-ADB4-3134118A8941</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>D1F3C1CD-42F1-47E6-A66A-3F9D2F52C384</key>
		<dict>
			<key>xpos</key>
			<real>805</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>DE485CD5-C589-483D-91B5-900AD9C18985</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>E32278BB-27EA-4269-A7B5-9523CBAC9646</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>EBA354CE-F931-488B-A39B-617F2AEF0E80</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>270</real>
		</dict>
		<key>F1E47934-28AA-416C-8E04-8ABBEF76FE00</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>590</real>
		</dict>
		<key>FCDABDD0-AB03-429D-8CB7-AAE640E7AB43</key>
		<dict>
			<key>xpos</key>
			<real>45</real>
			<key>ypos</key>
			<real>785</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>iTerm</string>
				<key>placeholder</key>
				<string>add the name of your selected terminal</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>This will make your selected terminal to be used in the workflow</string>
			<key>label</key>
			<string>Terminal to be used in the workflow</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>terminal</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>ask</string>
				<key>pairs</key>
				<array>
					<array>
						<string>ask</string>
						<string>ask</string>
					</array>
					<array>
						<string>both</string>
						<string>both</string>
					</array>
					<array>
						<string>no-dialog</string>
						<string>no-dialog</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>This variable will make the dialog to show or have a default behaviour</string>
			<key>label</key>
			<string>Dialog display</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>default</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<true/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>will play sound</string>
			</dict>
			<key>description</key>
			<string>Add or remove sounds to be played after execution of the workflow.</string>
			<key>label</key>
			<string>Sounds</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>sound</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.5.1</string>
	<key>webaddress</key>
	<string>https://github.com/roganoalien/open-in-code-editor</string>
</dict>
</plist>
