<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>openin</string>
	<key>connections</key>
	<dict>
		<key>19CAE49A-7DEE-4044-B18B-F06154AC511D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>994301D0-49ED-44DD-AE5F-BF65779C7858</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3AFC246E-B608-44FE-9286-33685027081D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1D634D9-D50C-46B4-826E-AD38B2D290CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1523FE2C-4D9C-4F3B-A253-91BC09F518AC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FC6514E5-C8A0-46DC-A746-D08F2B92CF11</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1523FE2C-4D9C-4F3B-A253-91BC09F518AC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52151128-A098-4BDE-B15C-BD1FC8DA3E0F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>102DB0C8-B7BB-4B12-A633-4A03F48DD065</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3AFC246E-B608-44FE-9286-33685027081D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6EC0B2FB-74FB-4961-8E44-D9BF14D81DF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52151128-A098-4BDE-B15C-BD1FC8DA3E0F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>994301D0-49ED-44DD-AE5F-BF65779C7858</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1D634D9-D50C-46B4-826E-AD38B2D290CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>1523FE2C-4D9C-4F3B-A253-91BC09F518AC</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>38827040-0063-4099-B7D3-3A7168276BC0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>search for folders or files inside specific folders and opens them in your terminal or favorite code editor</string>
	<key>disabled</key>
	<true/>
	<key>name</key>
	<string>OpenIn</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>endsup in setup</string>
				<key>title</key>
				<string>Setup</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1D634D9-D50C-46B4-826E-AD38B2D290CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>import os

varTerminal = os.environ["fav_terminal"]
varEditor = os.environ["fav_editor"]
varProjects = os.environ["projects_folder"]

if test -z "$varTerminal"; then
	echo -e "terminal empty"
elif test -z "$varEditor"; then
	echo -e "editor empty"
elif test -z "$varProjects"; then
	echo -e "projects empty"
else
	echo -e "open"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>19CAE49A-7DEE-4044-B18B-F06154AC511D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>endsup in open</string>
				<key>title</key>
				<string>Open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>38827040-0063-4099-B7D3-3A7168276BC0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>setup</string>
						<key>outputlabel</key>
						<string>setup</string>
						<key>uid</key>
						<string>1523FE2C-4D9C-4F3B-A253-91BC09F518AC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>994301D0-49ED-44DD-AE5F-BF65779C7858</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./detectTerminals</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FC6514E5-C8A0-46DC-A746-D08F2B92CF11</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {variables}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>102DB0C8-B7BB-4B12-A633-4A03F48DD065</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>open</string>
				<key>subtext</key>
				<string>In terminal, code editor or both</string>
				<key>text</key>
				<string>Opens folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>6EC0B2FB-74FB-4961-8E44-D9BF14D81DF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export varTerminal="${fav_terminal}"
export varEditor="${fav_editor}"
export varProjects="${projects_folder}"

./validateVars</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52151128-A098-4BDE-B15C-BD1FC8DA3E0F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<true/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>'setup'</string>
						<key>outputlabel</key>
						<string>setup</string>
						<key>uid</key>
						<string>1523FE2C-4D9C-4F3B-A253-91BC09F518AC</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>3AFC246E-B608-44FE-9286-33685027081D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>102DB0C8-B7BB-4B12-A633-4A03F48DD065</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>255</real>
		</dict>
		<key>19CAE49A-7DEE-4044-B18B-F06154AC511D</key>
		<dict>
			<key>xpos</key>
			<real>305</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>38827040-0063-4099-B7D3-3A7168276BC0</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>3AFC246E-B608-44FE-9286-33685027081D</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>52151128-A098-4BDE-B15C-BD1FC8DA3E0F</key>
		<dict>
			<key>xpos</key>
			<real>245</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>6EC0B2FB-74FB-4961-8E44-D9BF14D81DF7</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>994301D0-49ED-44DD-AE5F-BF65779C7858</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>C1D634D9-D50C-46B4-826E-AD38B2D290CE</key>
		<dict>
			<key>xpos</key>
			<real>710</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>FC6514E5-C8A0-46DC-A746-D08F2B92CF11</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Select your favorite terminal to use with this workflow</string>
			<key>label</key>
			<string>Favorite Terminal</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>fav_terminal</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Select your favorite code editor to use with this workflow</string>
			<key>label</key>
			<string>Favorite Code Editor</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>fav_editor</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>3</integer>
			</dict>
			<key>description</key>
			<string>Add one or more paths, separated by a coma, to set the folders this workflow will look at. Example: ~/folder_one, ~/other/folder_two</string>
			<key>label</key>
			<string>Projects Folders</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>projects_folder</string>
		</dict>
	</array>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string>https://rodrigogarcia.com.mx</string>
</dict>
</plist>
