<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.B9571E74-971C-4069-82F3-306164F00949</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.B9571E74-971C-4069-82F3-306164F00949</string>
</dict>
</plist>
