<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.nextjs</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1B508EFE-4B18-46C7-AED6-AC79F715346A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0CD96BE0-3CF4-4712-AC65-7FAFB6B373B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5ED806AC-8AF3-45EA-96D3-4A3EBCE27964</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62E03C90-B465-49A0-A3D1-B9CB4EBF4646</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>Search NextJS Docs</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>NextJS Docs</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://google.com/search?q=site%3Anextjs.org+{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>0CD96BE0-3CF4-4712-AC65-7FAFB6B373B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>next</string>
				<key>subtext</key>
				<string>And open in default browser</string>
				<key>text</key>
				<string>Search NextJS Docs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1B508EFE-4B18-46C7-AED6-AC79F715346A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.google.Chrome</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>https://google.com/search?q=site%3Anextjs.org+{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>62E03C90-B465-49A0-A3D1-B9CB4EBF4646</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>nextc</string>
				<key>subtext</key>
				<string>and open in Chrome</string>
				<key>text</key>
				<string>Search NextJS Docs</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5ED806AC-8AF3-45EA-96D3-4A3EBCE27964</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0CD96BE0-3CF4-4712-AC65-7FAFB6B373B5</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>1B508EFE-4B18-46C7-AED6-AC79F715346A</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>5ED806AC-8AF3-45EA-96D3-4A3EBCE27964</key>
		<dict>
			<key>xpos</key>
			<integer>100</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>62E03C90-B465-49A0-A3D1-B9CB4EBF4646</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>380</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>https://rodrigogarcia.com.mx</string>
</dict>
</plist>
