<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>.com.roganoalien.undock-alfred</string>
	<key>connections</key>
	<dict>
		<key>3469E712-117A-43D0-B6C9-1FE7148562B5</key>
		<array/>
		<key>43C7CF92-5DDF-4454-A1C1-26B423D6E99D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A1067E83-108A-4837-8129-C7AEA43FB887</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>57861C53-EF23-4E97-BFEF-8F19F1C92287</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F7BB6AFC-2B26-49A4-A8F9-C0DD44183AB5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A1067E83-108A-4837-8129-C7AEA43FB887</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3469E712-117A-43D0-B6C9-1FE7148562B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>736B5C27-0333-4061-ADED-4CC857A253BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A27096F5-EAD2-4921-9853-A7C0FB43E259</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43C7CF92-5DDF-4454-A1C1-26B423D6E99D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F7BB6AFC-2B26-49A4-A8F9-C0DD44183AB5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>43C7CF92-5DDF-4454-A1C1-26B423D6E99D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>Theo GG's implementation but on alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Undock</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>3469E712-117A-43D0-B6C9-1FE7148562B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Use the bangs you already know</string>
				<key>text</key>
				<string>Perform a search</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43C7CF92-5DDF-4454-A1C1-26B423D6E99D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>18</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>1</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>A27096F5-EAD2-4921-9853-A7C0FB43E259</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

./undock "$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A1067E83-108A-4837-8129-C7AEA43FB887</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Searching for</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>736B5C27-0333-4061-ADED-4CC857A253BB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>!dock</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./undock</string>
				<key>subtext</key>
				<string>Select a bang from the list</string>
				<key>title</key>
				<string>Bang list</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>57861C53-EF23-4E97-BFEF-8F19F1C92287</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

echo -n "!$query"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F7BB6AFC-2B26-49A4-A8F9-C0DD44183AB5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3469E712-117A-43D0-B6C9-1FE7148562B5</key>
		<dict>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>43C7CF92-5DDF-4454-A1C1-26B423D6E99D</key>
		<dict>
			<key>xpos</key>
			<real>265</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>57861C53-EF23-4E97-BFEF-8F19F1C92287</key>
		<dict>
			<key>note</key>
			<string>Needs a change on the arg to pass along and to send to the perform a search part with the query as keyword with the "!"</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
		<key>736B5C27-0333-4061-ADED-4CC857A253BB</key>
		<dict>
			<key>note</key>
			<string>Just a notification saying that language was changed and to which language</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>295</real>
		</dict>
		<key>A1067E83-108A-4837-8129-C7AEA43FB887</key>
		<dict>
			<key>note</key>
			<string>Executes the same Go executable but passing the selected language as an argument which changes the layout</string>
			<key>xpos</key>
			<real>460</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>A27096F5-EAD2-4921-9853-A7C0FB43E259</key>
		<dict>
			<key>note</key>
			<string>Trigger shortcut... change it to whatever you like</string>
			<key>xpos</key>
			<real>100</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>F7BB6AFC-2B26-49A4-A8F9-C0DD44183AB5</key>
		<dict>
			<key>xpos</key>
			<real>290</real>
			<key>ypos</key>
			<real>470</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://rodrigogarcia.com.mx</string>
</dict>
</plist>
