<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>snippets</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0FFB99FA-B9F3-4CF9-BA1F-E992830C5109</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7989A4CC-B890-4ACC-9134-73CA0C7349C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>18EA88AE-E6A8-4A7E-98FE-DF371228059A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FFB99FA-B9F3-4CF9-BA1F-E992830C5109</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2260DF40-9914-4062-B9AD-BB6ED2F460FD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>95AD0678-D7AC-4F68-9983-E99C5A881F5D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AB46DFD-2ABC-45DC-9048-1B1B1B7B4884</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>30D3C558-9285-4708-A2F7-97CB518E2F65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F6E2C9F-9193-43A6-A20D-76EFB288155E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9F6E0234-3D54-4B3E-B7B8-713781BD47EF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C644595A-EA04-4733-A10F-387EBD6F5A36</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5019BFA2-5FC9-47BC-A40D-387E59F8AD5F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BA3385C1-60DB-41A9-AE31-812D467FAA02</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30B80EC3-7F54-4339-9726-E8D6DBBDC0EB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C674414E-25A2-4F31-835D-F63EFF3006DE</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>E2AE8771-D7FE-4A47-946B-556B3B4D42E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C7469DF1-A91E-48FE-BA83-6BCD6A76C66D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D021C631-0C3C-4D60-BDA5-4E0EF99C6700</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>B763E717-FF82-447A-9530-AA7226104085</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6FA3647F-495F-4FDB-BAB7-3553579C3948</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>001993DA-9D76-49F6-9C73-F9C3F7BAE9F4</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EA13CC25-1689-4AAB-BA8B-1A1080C72BE0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>7F10A8BD-874C-45B9-A7B3-1E2776F7559D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30D3C558-9285-4708-A2F7-97CB518E2F65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D44954E-BD53-4FA0-AD17-127087F183BE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C644595A-EA04-4733-A10F-387EBD6F5A36</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>87C33267-867B-4526-A1E8-C9D9A13C8606</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>5E51D5CD-C83A-4BE9-87F8-BD7DA80CD7C0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7074E464-A171-4C7E-9248-EE3AE96E2DB4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4C5F675A-AA45-4688-9429-F26FBF5DA4AE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>80A0FF32-C582-4EA1-B97F-31A45E008D64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>4D6CE781-A040-4220-9611-21A0C95C8568</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FFBAA865-300F-43EF-9B73-4E2B3F9E053E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>69DC8AAC-5BD9-490D-9031-A0A3B5F64321</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2AB46DFD-2ABC-45DC-9048-1B1B1B7B4884</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7989A4CC-B890-4ACC-9134-73CA0C7349C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2260DF40-9914-4062-B9AD-BB6ED2F460FD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>80A0FF32-C582-4EA1-B97F-31A45E008D64</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>50C94AFE-1907-460E-BE36-833266690A68</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>95AD0678-D7AC-4F68-9983-E99C5A881F5D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F6E2C9F-9193-43A6-A20D-76EFB288155E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E0254863-4952-44E8-B920-1E96F4EB42AA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4D6CE781-A040-4220-9611-21A0C95C8568</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F86515EC-ECA1-443A-BC7D-A9B8C09271EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E0254863-4952-44E8-B920-1E96F4EB42AA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FFBAA865-300F-43EF-9B73-4E2B3F9E053E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9BCF02B7-6A40-49FF-BA0A-1BC7670739D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C644595A-EA04-4733-A10F-387EBD6F5A36</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3C627597-616E-4F6E-9BEC-2267154EE8DF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Rodrigo García</string>
	<key>description</key>
	<string>All of these are more advanced snippets for my daily work</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>My custom Snippets</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string># Fetch the random commit message
commit_message=$(curl -s https://whatthecommit.com/index.txt)

# Copy to clipboard
echo "$commit_message"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>80A0FF32-C582-4EA1-B97F-31A45E008D64</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}{cursor}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>50C94AFE-1907-460E-BE36-833266690A68</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>wtc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>4C5F675A-AA45-4688-9429-F26FBF5DA4AE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import { {cursor} } from "@heroicons/react/24/outline";</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9BCF02B7-6A40-49FF-BA0A-1BC7670739D3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>hero</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>F86515EC-ECA1-443A-BC7D-A9B8C09271EB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"c0964d28d21262167bfcb942b3aab39db9d41019.png","title":"Outline","arg":"outline","subtitle":"Icon that has outline"},{"imagefile":"4e055b6604a4b3148f5cbb84619831523f0e37cc.png","title":"Solid","arg":"solid","subtitle":"Icon that's solid"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Set comment label</string>
				<key>title</key>
				<string>Label is "{query}"</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>E0254863-4952-44E8-B920-1E96F4EB42AA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:label}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>outline</string>
						<key>outputlabel</key>
						<string>outline</string>
						<key>uid</key>
						<string>C644595A-EA04-4733-A10F-387EBD6F5A36</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>solid</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>FFBAA865-300F-43EF-9B73-4E2B3F9E053E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>label</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>4D6CE781-A040-4220-9611-21A0C95C8568</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import { {cursor} } from "@heroicons/react/24/solid";</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>3C627597-616E-4F6E-9BEC-2267154EE8DF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>const {var:name} = ()=&gt;{
	return (
		&lt;a&gt;
			{cursor}
		&lt;/a&gt;
	);
}

export default {var:name};</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>5019BFA2-5FC9-47BC-A40D-387E59F8AD5F</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>const {var:name} = ()=&gt;{
	return (
		&lt;div&gt;
			{cursor}
		&lt;/div&gt;
	);
}

export default {var:name};</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9F6E0234-3D54-4B3E-B7B8-713781BD47EF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>const {var:name} = ()=&gt;{
	return (
		&lt;span&gt;
			{cursor}
		&lt;/span&gt;
	);
}

export default {var:name};</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>30B80EC3-7F54-4339-9726-E8D6DBBDC0EB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import Link from "next/link";

const {var:name} = ()=&gt;{
	return (
		&lt;Link href="/"&gt;
			{cursor}
		&lt;/Link&gt;
	);
}

export default {var:name};</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>E2AE8771-D7FE-4A47-946B-556B3B4D42E7</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>rfc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>18EA88AE-E6A8-4A7E-98FE-DF371228059A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string>Sets the component name</string>
				<key>text</key>
				<string>Set Name "{query}"</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2260DF40-9914-4062-B9AD-BB6ED2F460FD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:child}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>div</string>
						<key>outputlabel</key>
						<string>div</string>
						<key>uid</key>
						<string>C644595A-EA04-4733-A10F-387EBD6F5A36</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:child}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>span</string>
						<key>outputlabel</key>
						<string>span</string>
						<key>uid</key>
						<string>C674414E-25A2-4F31-835D-F63EFF3006DE</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:child}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>fragment</string>
						<key>outputlabel</key>
						<string>fragment</string>
						<key>uid</key>
						<string>001993DA-9D76-49F6-9C73-F9C3F7BAE9F4</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:child}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>a</string>
						<key>outputlabel</key>
						<string>anchor</string>
						<key>uid</key>
						<string>BA3385C1-60DB-41A9-AE31-812D467FAA02</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:child}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>link</string>
						<key>outputlabel</key>
						<string>link</string>
						<key>uid</key>
						<string>C7469DF1-A91E-48FE-BA83-6BCD6A76C66D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:child}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>nav</string>
						<key>outputlabel</key>
						<string>nav</string>
						<key>uid</key>
						<string>B763E717-FF82-447A-9530-AA7226104085</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:child}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>p</string>
						<key>outputlabel</key>
						<string>p</string>
						<key>uid</key>
						<string>7F10A8BD-874C-45B9-A7B3-1E2776F7559D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>solid</string>
				<key>hideelse</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2F6E2C9F-9193-43A6-A20D-76EFB288155E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"imagefile":"4e055b6604a4b3148f5cbb84619831523f0e37cc.png","title":"Fragment","arg":"fragment","subtitle":"Component child is FRAGMENT"},{"imagefile":"c0964d28d21262167bfcb942b3aab39db9d41019.png","title":"With Div","arg":"div","subtitle":"Component child is DIV"},{"title":"Nav","arg":"nav","subtitle":"Component child is NAV"},{"title":"Span","arg":"span","subtitle":"Component child is SPAN"},{"title":"Anchor","arg":"a","subtitle":"Component child is an ANCHOR"},{"title":"Link","arg":"link","subtitle":"Component child is LINK"},{"title":"Paragraph","arg":"p","subtitle":"Component child is PARAGRAPH"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>Set comment label</string>
				<key>title</key>
				<string>Label is "{query}"</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>0FFB99FA-B9F3-4CF9-BA1F-E992830C5109</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>name</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>95AD0678-D7AC-4F68-9983-E99C5A881F5D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>child</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>7989A4CC-B890-4ACC-9134-73CA0C7349C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>const {var:name} = ()=&gt;{
	return (
		&lt;nav&gt;
			{cursor}
		&lt;/nav&gt;
	);
}

export default {var:name};</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D021C631-0C3C-4D60-BDA5-4E0EF99C6700</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>const {var:name} = ()=&gt;{
	return (
		&lt;&gt;
			{cursor}
		&lt;/&gt;
	);
}

export default {var:name};</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6FA3647F-495F-4FDB-BAB7-3553579C3948</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import { AnimatePresence } from "motion/react"; {cursor}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4D44954E-BD53-4FA0-AD17-127087F183BE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>const {var:name} = ()=&gt;{
	return (
		&lt;p&gt;
			{cursor}
		&lt;/p&gt;
	);
}

export default {var:name};</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>EA13CC25-1689-4AAB-BA8B-1A1080C72BE0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import { AnimatePresence, motion } from "motion/react"; {cursor}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>7074E464-A171-4C7E-9248-EE3AE96E2DB4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>keyword</key>
				<string>rmotion</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.snippet</string>
			<key>uid</key>
			<string>69DC8AAC-5BD9-490D-9031-A0A3B5F64321</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"AnimatePresence","arg":"AnimatePresence","subtitle":"loads &lt;AnimatePresence&gt;"},{"title":"Motion","arg":"motion","subtitle":"loads &lt;motion.~&gt;"},{"title":"Both","arg":"both","subtitle":"loads both AnimatePresence and motion"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string>from motion.dev</string>
				<key>title</key>
				<string>Select which component to load</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>2AB46DFD-2ABC-45DC-9048-1B1B1B7B4884</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>import { motion } from "motion/react"; {cursor}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>87C33267-867B-4526-A1E8-C9D9A13C8606</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>AnimatePresence</string>
						<key>outputlabel</key>
						<string>AnimatePresence</string>
						<key>uid</key>
						<string>C644595A-EA04-4733-A10F-387EBD6F5A36</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>motion</string>
						<key>outputlabel</key>
						<string>motion</string>
						<key>uid</key>
						<string>5E51D5CD-C83A-4BE9-87F8-BD7DA80CD7C0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>both</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>30D3C558-9285-4708-A2F7-97CB518E2F65</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0FFB99FA-B9F3-4CF9-BA1F-E992830C5109</key>
		<dict>
			<key>note</key>
			<string>REACT OPTIONS
to create component</string>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>18EA88AE-E6A8-4A7E-98FE-DF371228059A</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>2260DF40-9914-4062-B9AD-BB6ED2F460FD</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Components CHILD options
to select</string>
			<key>xpos</key>
			<real>425</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>2AB46DFD-2ABC-45DC-9048-1B1B1B7B4884</key>
		<dict>
			<key>xpos</key>
			<real>190</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>2F6E2C9F-9193-43A6-A20D-76EFB288155E</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>30B80EC3-7F54-4339-9726-E8D6DBBDC0EB</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>SPAN component</string>
			<key>xpos</key>
			<real>950</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>30D3C558-9285-4708-A2F7-97CB518E2F65</key>
		<dict>
			<key>xpos</key>
			<real>350</real>
			<key>ypos</key>
			<real>705</real>
		</dict>
		<key>3C627597-616E-4F6E-9BEC-2267154EE8DF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Solid snippet</string>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>4C5F675A-AA45-4688-9429-F26FBF5DA4AE</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>4D44954E-BD53-4FA0-AD17-127087F183BE</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>AnimatePresence load</string>
			<key>xpos</key>
			<real>545</real>
			<key>ypos</key>
			<real>575</real>
		</dict>
		<key>4D6CE781-A040-4220-9611-21A0C95C8568</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Stores selection</string>
			<key>xpos</key>
			<real>390</real>
			<key>ypos</key>
			<real>235</real>
		</dict>
		<key>5019BFA2-5FC9-47BC-A40D-387E59F8AD5F</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>ANCHOR component</string>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>50C94AFE-1907-460E-BE36-833266690A68</key>
		<dict>
			<key>xpos</key>
			<real>365</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>69DC8AAC-5BD9-490D-9031-A0A3B5F64321</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>6FA3647F-495F-4FDB-BAB7-3553579C3948</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>FRAGMENT component</string>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>570</real>
		</dict>
		<key>7074E464-A171-4C7E-9248-EE3AE96E2DB4</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Both load</string>
			<key>xpos</key>
			<real>695</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>7989A4CC-B890-4ACC-9134-73CA0C7349C6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Stores selection</string>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>80A0FF32-C582-4EA1-B97F-31A45E008D64</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>87C33267-867B-4526-A1E8-C9D9A13C8606</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Motion load</string>
			<key>xpos</key>
			<real>550</real>
			<key>ypos</key>
			<real>700</real>
		</dict>
		<key>95AD0678-D7AC-4F68-9983-E99C5A881F5D</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>5. Store the subject in a variable.</string>
			<key>xpos</key>
			<real>590</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>9BCF02B7-6A40-49FF-BA0A-1BC7670739D3</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>Outline snippet</string>
			<key>xpos</key>
			<real>745</real>
			<key>ypos</key>
			<real>100</real>
		</dict>
		<key>9F6E0234-3D54-4B3E-B7B8-713781BD47EF</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>DIV component</string>
			<key>xpos</key>
			<real>945</real>
			<key>ypos</key>
			<real>310</real>
		</dict>
		<key>D021C631-0C3C-4D60-BDA5-4E0EF99C6700</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>NAV component</string>
			<key>xpos</key>
			<real>1095</real>
			<key>ypos</key>
			<real>565</real>
		</dict>
		<key>E0254863-4952-44E8-B920-1E96F4EB42AA</key>
		<dict>
			<key>note</key>
			<string>Hero icons options
to select</string>
			<key>xpos</key>
			<real>200</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>E2AE8771-D7FE-4A47-946B-556B3B4D42E7</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>LINK component</string>
			<key>xpos</key>
			<real>1090</real>
			<key>ypos</key>
			<real>440</real>
		</dict>
		<key>EA13CC25-1689-4AAB-BA8B-1A1080C72BE0</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>note</key>
			<string>PARAGRAPH component</string>
			<key>xpos</key>
			<real>955</real>
			<key>ypos</key>
			<real>695</real>
		</dict>
		<key>F86515EC-ECA1-443A-BC7D-A9B8C09271EB</key>
		<dict>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>205</real>
		</dict>
		<key>FFBAA865-300F-43EF-9B73-4E2B3F9E053E</key>
		<dict>
			<key>xpos</key>
			<real>495</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://rodrigogarcia.com.mx</string>
</dict>
</plist>
